<div class="swym-atw-btn-wrapper add_to_cart_button_right-position" id="swym-embed-pdp-btn-wrapper" bis_skin_checked="1"><div id="swym-atw-button-container" class="swym-atw-button-container align-right add_to_cart_button_right-position consent-given" bis_skin_checked="1">
  <button id="swym-atw-pdp-button" aria-label="Add to wishlist" class="atw-button atw-button-add-color full-width add_to_cart_button_right-position atw-button-added" style="font-size: 13px; font-family: Roboto, sans-serif; font-weight: 400; letter-spacing: 2.34px;">
    
      <svg xmlns="http://www.w3.org/2000/svg" id="swym-atw-pdp-button-icon" class="atw-button-icon">
          <path d="M19.6706 5.4736C17.6806 3.8336 14.7206 4.1236 12.8906 5.9536L12.0006 6.8436L11.1106 5.9536C9.29063 4.1336 6.32064 3.8336 4.33064 5.4736C2.05064 7.3536 1.93063 10.7436 3.97063 12.7836L11.6406 20.4536C11.8406 20.6536 12.1506 20.6536 12.3506 20.4536L20.0206 12.7836C22.0706 10.7436 21.9506 7.3636 19.6706 5.4736Z" stroke="#ffffff" stroke-width="1.7px" fill="#ffffff" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
    
    <span id="swym-atw-pdp-button-text" class="atw-button-text"></span>
    <div id="swym-atw-animated-loader-wrapper" class="swym-atw-animated-loader-wrapper" bis_skin_checked="1">
      <div id="swym-atw-animated-loader" bis_skin_checked="1" class="">
      </div>
    </div>
  </button>
</div><button type="submit" class="button w-full" style="--button-background: 203 43 43; --button-outline-color: 203 43 43; display: none;" data-default-text="Add to cart" data-default-disabled="false">Add to cart</button></div>