<div class="flits-hidden flits-old-code-snippet" style="display:none;">
  {% render 'flits_account_old' %}
</div>
<div class="flits-code-snippet w-full">
  {% render 'flits_account_page_snippet' %}
</div>
